﻿div.UITextarea-content #user-hint {
  position: absolute;
  z-index: 0;
  cursor: text;
  pointer-events: none;
  color: #B1B1B1;
  padding: 6px;
  line-height: 21px;
  margin: 2px;
  font-family: Consolas;
  word-break: break-all;
  white-space: pre-wrap;
}
div.UITextarea-content textarea {
  z-index: 1;
  padding: 6px;
  line-height: 17px;
  margin: 0;
  font: inherit;
  font-family: Consolas;
  word-break: break-all;
}